<!--<div class="l-user-index-hero">-->
<!--</div>-->

<div class="page-content">
  <div class="l-user-index-header">
    <h1>Browse Artists</h1>
  </div>
  <div class="l-index-main">

    <%= render partial: "user", collection: @users %>

    <!-- Pagination-->
    <%= paginate @users %>

  </div>
</div>
