<div class="l-index-hero">
</div>

<div class="page-content">
  <div class="l-index-main">

    <%= render partial: "user", collection: @users %>

    <!-- Pagination-->
    <%= paginate @users %>

  </div>
</div>
