//== Bootstrap Reset
@import "bootstrap/normalize";

//== Custom Reset
@import "bootstrap/type";
//## Headings
h1, h2, h3, h4, h5, p{
  letter-spacing: 0.07em;
  margin: 0;
  padding: 0;
  color: $gray-light;
}

//## Emphasis
i, cite, em, var, address, dfn {
  font-style: normal;
  color: $gray-lighter;
}

ul, li{
  list-style: none;
  margin:0;
  padding:0;
}

a{
  font-weight: normal;
  color: $brand-primary;
}

img{
  @extend .img-responsive;
  background-color: white;
}

html, body{
  height: 100%;
}

body{
  background-color: $body-bg;
  background-image: image-url("bg_texture.png");
}

