<!--<div class="l-index-hero">-->
<!--</div>-->


<div class="page-content">
  <!-- Dropdown -->
  <%= render partial: "pieces/dropdown" %>

  <div class="l-index-main">
    <!-- List Pieces-->
    <% @pieces.each_with_index do |piece, i| %>

      <!-- Single Piece-->
      <div class="piece-index-column">
        <%= render partial: "pieces/piece", locals: {piece: piece, i: i} %>
      </div>
      <!-- Single Piece End-->

    <% end %>
    <!-- List Pieces End-->
  </div>

  <!-- Pagination-->
  <%= paginate @pieces %>
</div>
