<div class="l-content">
  <div class="l-index-main">

    <!-- List Pieces-->
    <% @pieces.each_with_index do |piece, i| %>

      <!-- Single Piece-->
      <%= render partial: "pieces/piece", locals: {piece: piece, i: i} %>
      <!-- Single Piece End-->

  <% end %>
  <!-- List Pieces End-->

  <!-- Pagination-->
  <%= paginate @pieces %>

  </div>
</div>