<h1>Pieces#new</h1>

<%= form_for @piece, html: {multipart: true} do |f| %>

  <div class="field">
    <%= f.label :image, "Piece" %>
    <%= f.file_field :image, onchange: "this.form.submit()"%>
  </div>

<% end %>