<h1>Pieces#new</h1>

<div id="file_drop_area">
  <p>Drag files here to upload</p>
</div>


<%= simple_form_for @piece, html: {multipart: true} do |f| %>

  <%= f.input :image, label: "Piece" %>

<% end %>