//== Global
.page-content{
  @media (min-width: $max-width){
    width:                      $max-width;
  }
  @extend                       .container-fluid;
  padding:                      20px 0;
}

//== Index
.l-index-hero{
  @extend .visible-lg;
  background-image:             url("hero3.jpg");
  background-position:          top;
  background-size:              cover;
  height:                       300px;
  margin:                       auto;
  border-radius:                4px;
  @media (min-width: $max-width){
    width:                      $max-width;
  }
  &-user{
    background-image:           none;
    background-position:        center;
    background-size:            auto;
    background-repeat:          no-repeat;
    background-color: $gray-darker;
    border: 1px solid #24272b;
    border-top: none;
  }
}
.l-index-main{
  @extend                       .col-xs-12;
  background-color:             $gray-dark;
  background-image: url("bg_texture2.png");
  border-radius:                4px;
  padding:                      $grid-gutter-width;
  box-shadow:                 0 1px 6px rgba(0,0,0,0.05);
}

//== Show
.l-show-header{
  @extend                       .col-xs-12;
  @extend                       .col-lg-10;
  @extend                       .col-lg-offset-1;
}

.l-show-main{
  @extend                       .col-xs-12;
  @extend                       .col-lg-7;
  @extend                       .col-lg-offset-1;
  padding-right:                2%;
}

.l-show-side{
  @extend                       .col-xs-12;
  @extend                       .col-lg-3;
}

