<%= label_tag :tags%>
<ul class="tag-list">
  <% piece.tags.each do |tag| %>
    <li><%= link_to tag, piece_tag_path(piece, tag.name), method: :delete, remote: true, class: "tag tag-delete" %></li>
  <% end %>
</ul>
