
<div class="page-content">
  <div class="l-index-header">
    <h1>Tagged with <%= link_to @tag, pieces_tag_path(@tag) %></h1>
  </div>

  <div class="l-index-main">

    <!-- List Pieces-->
    <% @pieces.each_with_index do |piece, i| %>

      <!-- Single Piece-->
      <div class="piece-index-column">
        <%= render partial: "pieces/piece", locals: {piece: piece, i: i} %>
      </div>
      <!-- Single Piece End-->

    <% end %>
    <!-- List Pieces End-->

    <!-- Pagination-->
    <%= paginate @pieces %>

  </div>
</div>
