.btn{
  @extend .pull-right;
  border-radius: 4px;
  width: initial !important;
  padding: 0 10px;
  transition: 0.13s linear;
  border: none;
  margin-left: 20px;
  height: 25px;
}

.btn-default{
  background-color: $brand-primary;
  color: $gray-dark;
  &:hover{
    background-color: $gray;
    color: $gray-lighter
  }
}

.btn-cancel{
  background-color: $gray-lighter;
  color: $gray;
  &:hover{
    background-color: $gray;
    color: $gray-lighter
  }
}

.btn-x2{
  font-size: 18px;
  height: auto;
  font-weight: 200;
}