.comments{
  >h4{
    padding: 20px 0 5px 0;
    border-bottom: 1px solid $input-border;
  }

  &-form{
    margin-top: 15px;
    img {
      position: absolute;
    }
  }

  .new_comment{
    margin-left: 55px;
    textarea{
      width: 100%;
      height: 80px;
      border: 2px solid $input-border;
      padding: 10px;
      background-color: $input-bg-disabled;
      color: $text-color;
    }
  }
}

.comment{
  border-top: 1px solid $input-border;
  padding: 10px 30px;
  position: relative;
  >img{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 9px;
  }
  &-content{
    display: inline-block;
    em{
      font-size: 12px;
    }
    &-username{
      font-size: 12px;
      font-weight: bold;
    }
    p{
      letter-spacing: normal;
    }
  }
}