.footer{
  @media (min-width: $max-width){
    width:                $max-width;
    margin: auto;
  }
  &-content{
    @extend                 .col-xs-12;
    @extend                 .col-lg-8;
    @extend                 .col-lg-offset-2;
    &-tagline{
      @extend               .col-xs-12;
      @extend               .col-lg-6;
    }
    &-navigate{
      @extend               .col-xs-6;
      @extend               .col-lg-3;
    }
    &-company{
      @extend               .col-xs-6;
      @extend               .col-lg-3;
    }
  }
  &-subfooter{
    @extend               .col-xs-12;
    background-color:     $gray-light;
    color:                white;
    small{
      @extend             .col-xs-12;
      @extend             .col-lg-8;
      @extend             .col-lg-offset-2;
    }
  }

}