.form-container{
  @extend .col-xs-12;
  @extend .col-sm-8;
  @extend .col-sm-offset-2;

  .form-header{
    @extend .col-xs-8;
    @extend .col-xs-offset-2;
  }

  .form-group {
    @extend .col-xs-8;
    @extend .col-xs-offset-2;
    margin-top: 10px;
    * {
      @extend .col-xs-8;
      @extend .col-xs-offset-4;
      border: none;
    }
    label {
      @extend .col-xs-4;
      @extend .col-xs-offset-0;
      text-align: right;
    }
    input {
      @extend .col-xs-8;
      @extend .col-xs-offset-0;
    }

  }

  .form-instruction{
    @extend .col-xs-8;
    @extend .col-xs-offset-3;
  }

  .form-submit{
    @extend .col-xs-8;
    @extend .col-xs-offset-2;
    margin-top: 10px;
    *{
      @extend .col-xs-8;
      @extend .col-xs-offset-4
    }

  }
}