//== Site Nav =================
.nav-container{
  @extend .clearfix;
  padding: 0;
  background-color: $navbar-default-bg;
  border: 1px solid #24272b;
  border-top: none;
  &-logo{
    width: 200px;
    height: 45px;
    display: inline-block;
    position: absolute;
    background-image: url("logo_white.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.sitenav{
  @extend .container-fluid;
  @extend .hidden-xs;
  @extend .hidden-sm;
  @extend .hidden-md;
  @extend .clearfix;
  @media (min-width: $max-width+($grid-gutter-width*3)){
    width: $max-width+($grid-gutter-width*3);
    margin: auto;
  }
  display: block;
  width: 100%;
  text-align: left;
  font-family: $headings-font-family;
  position: relative;
  list-style: none;
  padding: 0 1.5*$grid-gutter-width;

  >ul{
    @extend .clearfix;
    margin-left: 200px;
  }

  .public-nav{
    float: left;
    padding-top: 12px;
  }

  .user-nav{
    float: right;
  }


  &-sublist ul{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 10px;
    display: none;
    z-index: 1;

    .sitenav-item{
      width: 150px;
      border-bottom: none;
    }

    a {
      padding: 0 10px 10px 10px;
      &:hover {
        color: $gray-lighter;
      }
    }
  }

  &-item{
    display: inline-block;
    width: auto;
    position: relative;
    text-align: left;
    border-bottom: 3px solid $gray;
    margin-right: 20px;
    &:hover{
      border-bottom: 4px solid $brand-primary;
    }

    > a {
      display: block;
      background: $navbar-default-bg;
      color: $navbar-default-color;
      text-decoration: none;
      padding: 0;
    }
  }
}

//== Mobile Nav ====================
.mobile_menu {
  @extend .clearfix;
  @extend .visible-xs;
  @extend .visible-sm;
  @extend .visible-md;
  background: $navbar-default-bg;
  padding: 10px;

  .mobile_btn {
    float: left;
    cursor: pointer;
    border-radius: $nav-pills-border-radius;
    background-image: url("menu_icon.png");
    background-size: contain;
    padding: 2px 4px;
    height: 30px;
    width: 30px;
  }

  .mobile_nav {
    clear: both;
    overflow: hidden;

    ul {
      display: block;
      list-style: none;
      padding: 0;
      overflow: hidden;
    }

    .sitenav-item {
      display: block;
      padding: 2px;
      width: 100%;
      border-bottom: none;
      a {
        padding: 1px;
        display: block;
        text-align: center;
        //color: $navbar-default-link-hover-color;
      }
    }

    .sitenav-sublist{
      ul{
        position: static;
        width: 100%;
        left: 0px;
        top: 100%;
        display: none;
      }
    }


    .mobile_row {
      &:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: $navbar-default-link-hover-bg;
        color: $navbar-default-link-hover-color;
      }
    }

    .mobile_open {
      .mobile_arrow {
        display: inline-block;
        height: 10px;
        width: 10px;
        background-image: url("Speech_bubble_32.png")
      }
    }

    .mobile_collapsed {
      .mobile_arrow {
        display: inline-block;
        height: 10px;
        width: 10px;
        background-image: url("Eye_outline_32.png")
      }
    }

    .mobile_item {
      cursor: pointer;
      a {
        display: inline-block;
      }
    }

    .notification_button{
      @extend .hidden-xs;
      @extend .hidden-sm;
      @extend .hidden-md;
    }
  }
}



