.notifications_button{
  @extend .hidden-xs;
  @extend .hidden-sm;
}

.notifications_panel{
  position: absolute;
  top: 33px;
  width: 350px;
  z-index: 100;
  background-color: $navbar-default-bg;
  padding: 10px 25px;
  border: 1px solid $gray-lighter;
  &-notification{
    margin: 7px 0;
    padding: 7px;
    border-bottom: 1px solid $gray-lighter;
  }
}

