.notifications_button{
  @extend .hidden-xs;
  @extend .hidden-sm;
}

.notifications_panel{
  position: absolute;
  top: 39px;
  right: -75px;
  width: 375px;
  z-index: 100;
  background-color: $gray-dark;
  padding: 10px 25px;
  box-shadow:                 0 0 60px rgba(0, 0, 0, 0.6);

  &-notification{
    margin: 7px 0;
    padding: 7px;
    border-bottom: 1px solid $gray-dark;
  }
}

.notifications-count{
  position: absolute;
  background-color: $brand-primary;
  color: $gray;
  padding: 0 6px;
  border-radius: 40%;
  z-index: 999;
  left: 10px;
  top: -5px;
  font-size: 10px;
}

