//== Piece
.piece-index-column{
  @extend                     .col-xs-12;
  @extend                     .col-sm-6;
  @extend                     .col-md-4;
  @extend                     .col-lg-3;
  @extend                     .col-xl-5ths;
  margin-bottom:              $grid-gutter-width;

}

.card{
  border:                     1px solid $gray-lighter;
  //box-shadow:                 0 1px 2px rgba(0,0,0,0.07);
  background-color:           white;
  &-piece {
    &-main {
      position:               relative;
      &-image {
        > img {
          @extend             .img-responsive;
          border-radius:      2px 2px 0 0;
        }
      }
      &-overlay {
        position:             absolute;
        top: 0;  bottom: 0;  left: 0;  right: 0;
        color:                $gray;
        background-color:     #FFFFFF;
        padding:              7.5%;
        // Fade in
        opacity:              0;
        transition:           opacity 0.17s linear;
        > a {
          position:           absolute;
          top: 0;  bottom: 0;  left: 0;  right: 0;
          opacity:            0;
        }
        > p {
          margin-top:         10px;
          font-weight:        300;
        }
        &-footer {
          position:           absolute;
          bottom:             10px;
        }
        &:hover {
          opacity:            0.97;
        }
      }
    }
    &-footer {
      padding:                2px 6%;
      font-size:              11px;
      text-align:             right;
      font-weight:            400;
      &-links {
        color:                $gray;
      }
    }
    &-user {
      @extend                 .hidden-sm;
      @extend                 .hidden-xs;
      margin-right:           20px;
    }
  }
}

.icon{
  margin-left:                5px;
  margin-right:               2px;
  font-weight:                600;
  color:                      $gray-light;
  background-repeat:          no-repeat;
  background-size:            contain;
  background-position:        0px 1px;
  padding-left:               17px;
  &-views{
    background-image:         url("Eye_outline_32.png");
  }
  &-comments{
    background-image:         url("Speech_bubble_32.png");
  }
  &-likes{
    background-image:         url("Favourite_Heart_32.png");
  }
}

.piece{
  &-header{
    margin:                   40px 0 10px 0;
    &-info{
      display:                inline-block;
      >h1{
        font-size:            $font-size-h3;
      }
    }
  }
  &-main{
    &-links{
      @extend                 .col-xs-12;
      text-align:             right;
    }
    &-description{
      margin:                 20px;
    }
  }
  &-stats{
    border-bottom:            1px solid $input-border;
    padding:                  5px 10px;
    a{
      margin-right:           150px;
    }
  }
  &-more{
    margin-top:               20px;
    @extend                   .clearfix;
    h4{
      @extend                 .col-xs-12;
    }
    &-prev{
      @extend                 .col-xs-6;
      margin-top:             10px;
    }
    &-next{
      @extend                 .col-xs-6;
      margin-top:             10px;
    }
    &-overlay {
      position: absolute;
      top: 0;  bottom: 0;  left: 0;  right: 0;
      background-color:       white;
      background-image:       url("Eye_outline_32.png");
      background-repeat:      no-repeat;
      background-position:    center;
      // Fade in
      opacity:                0;
      transition:             opacity 0.17s linear;
      &:hover {
        opacity:              0.95;
      }
    }
  }
}