//== Piece
.piece-index-column{
  @extend                     .col-xs-12;
  @extend                     .col-sm-6;
  @extend                     .col-md-4;
  @extend                     .col-lg-3;
  @extend                     .col-xl-5ths;
  margin-bottom:              $grid-gutter-width;
}

.piece-search-column{
  @extend                     .col-xs-12;
  @extend                     .col-sm-6;
  @extend                     .col-lg-3;
  margin-bottom:              $grid-gutter-width;
}

.card{
  //border:                     1px solid $gray;
  @extend                     .clearfix;
  &-piece {
    box-shadow:                 0 1px 60px rgba(0, 0, 0, 0.3);
    background-color:           white;
    border-radius:              10px;
    &-main {
      position:               relative;
      &-image {
        > img {
          @extend             .img-responsive;
          border-radius:      7px 7px 0 0;
          background-color: white;
        }
      }
      &-overlay {
        position:             absolute;
        top: 0;  bottom: 0;  left: 0;  right: 0;
        color:                $gray;
        background-color:     $gray;
        padding:              7.5%;
        border-radius:        5px 5px 0 0;
        // Fade in
        opacity:              0;
        transition:           opacity 0.17s linear;
        > a {
          position:           absolute;
          top: 0;  bottom: 0;  left: 0;  right: 0;
          opacity:            0;
        }
        > p {
          font-weight:        300;
        }
        &-footer {
          position:           absolute;
          bottom:             10px;
        }
        &:hover {
          opacity:            0.95;
        }
      }
    }
    &-footer {
      padding:                1px 7.5%;
      text-align:             right;
      font-weight:            200;
      background-color:       $gray;
      border-radius:          0 0 2px 2px;
      border-top: 4px solid $gray-darker;
      &-links {
        line-height: 100%;
      }
    }
    &-user {
      @extend                 .hidden-sm;
      @extend                 .hidden-xs;
      margin-right:           20px;
    }
  }
}


.piece{
  &-header{
    margin:                   20px 0 10px 0;
    &-info{
      display:                inline-block;
      >h1{
        font-size:            $font-size-h3;
        a{
          color:              $gray-light;
          &:hover{
            color:            $brand-primary;
          }
        }
      }
    }
  }
  &-main{
    background-color:             $gray-dark;
    border-radius:                4px;
    box-shadow:                 0 1px 6px rgba(0,0,0,0.07);
    overflow:                   hidden;
    &-links{
      text-align:               right;
      padding:                  0 20px 20px 20px;
    }
    &-description{
      @extend                   .clearfix;
      padding:                  $grid-gutter-width;
      border-top: 6px solid $gray;
    }
  }
  &-stats{
    border-bottom:            2px solid $gray-light;
    padding:                  5px 10px;
    a{
      margin-right:           150px;
    }
  }
  &-more{
    @extend                   .clearfix;
    margin-top:               $grid-gutter-width;
    img{
      border-radius: 3px;
      border: 3px solid $gray;
      box-shadow:                 0 1px 6px rgba(0,0,0,0.09);

    }
    h4{
      @extend                 .col-xs-12;
    }
    &-prev{
      @extend                 .col-xs-6;
      margin-top:             10px;
    }
    &-next{
      @extend                 .col-xs-6;
      margin-top:             10px;
    }
    &-overlay {
      position: absolute;
      top: 0;  bottom: 0;  left: 10px;  right: 10px;
      border-radius: 2px;
      box-shadow:                 0 1px 6px rgba(0,0,0,0.01);
      background-color:     $gray;
      background-image:       url("eye_30.png");
      background-repeat:      no-repeat;
      background-position:    center;
      // Fade in
      opacity:                0;
      transition:             opacity 0.17s linear;
      &:hover {
        opacity:              0.95;
      }
    }
  }
  &-tags{
    @extend                   .col-xs-12;
    margin:               $grid-gutter-width/2 0;
    h4{
      margin: 10px 0;
    }
  }
}