#file_drop_area{
  border: 2px dashed lightgrey;
  color: lightgrey;
  height: 400px;
  width: 400px;
  line-height: 400px;
  text-align: center;
}

#file_drop_area.drag_over{
  border-color: grey;
  color: grey;
}