
  <div class="footer-content">
    <div class="footer-content-tagline">
      <h3>Tattoo Rack</h3>
      <h4>Find great artists. Share your work.</h4>
      <p>Tattoo Rack is a community for tattoo artists and enthusiasts to share and inspire</p>
    </div>
    <div class="footer-content-navigate">
      <h4>Navigation</h4>
      <ul>
        <li><%= link_to "Pieces", pieces_path %></li>
        <li><%= link_to "Artists", users_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      </ul>
    </div>
    <div class="footer-content-company">
      <h4>Contact</h4>
      <ul>
        <li><p>Want to find out more? <br> Have ideas for Tattoo Rack? <br> Send me an email below <br></p></li>
        <li><a href="#">tattoorack@gmail.com</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-subfooter">
    <small>Copywright 2015 Tattoo Rack</small>
  </div>

