<footer class="footer">

  <div class="footer-content">
    <div class="footer-content-tagline">
      <h3>Tattoo Rack</h3>
      <h4>Tagline</h4>
      <p>Neutra cred tofu asymmetrical tilde irony mlkshk, <br> Kickstarter Shoreditch quinoa</p>
    </div>
    <div class="footer-content-navigate">
      <h4>Navigation</h4>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>
    </div>
    <div class="footer-content-company">
      <h4>Contact</h4>
      <ul>
        <li><p>Neutra cred tofu <br> asymmetrical tilde irony <br> mlkshk, Kicks</p></li>
        <li><a href="#">email me</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-subfooter">
    <small>Copywright 2015</small>
  </div>

</footer>